<pre class="language-markup">
	<code class="language-markup">
		&lt;div class=&quot;container&quot; data-ng-controller=&quot;QuotesController&quot;&gt;
		    &lt;!-- Buttons for adding quote, random quote, and to see all quotes --&gt;
		    &lt;div class=&quot;add-quote&quot;&gt;
		      &lt;button class=&quot;btn btn-success&quot; data-target=&quot;#quote&quot; data-toggle=&quot;modal&quot;&gt;Add a quote&lt;/button&gt;
		      &lt;button class=&quot;btn btn-warning&quot; data-target=&quot;#random-quote&quot; data-toggle=&quot;modal&quot; data-ng-click=&quot;randomQuoteGenerator()&quot;&gt;Random Quote&lt;/button&gt;
		      &lt;button class=&quot;btn btn-danger clear-search&quot; data-ng-click=&quot;search=&#39;&#39;&quot;&gt;See All&lt;/button&gt;
		      &lt;input type=&quot;text&quot; data-ng-model=&quot;search.author&quot;&gt;
		    &lt;/div&gt;
		    &lt;!-- End Buttons --&gt;
		    &lt;!-- Display quotes with ng-repeat --&gt;
		    &lt;div&gt;
		      &lt;div class=&quot;quote col-xs-6&quot; data-ng-repeat=&quot;quote in quotes | filter:{author:search}&quot; id=&quot;{{quote.id}}&quot;&gt;
		        &lt;div class=&quot;inner-quote&quot;&gt;
		          &lt;div class=&quot;remove&quot; data-ng-click=&quot;removeQuote(quote.id)&quot;&gt;
		            &lt;span class=&quot;glyphicon glyphicon-remove&quot;&gt;&lt;/span&gt;
		          &lt;/div&gt;
		          &lt;blockquote&gt;{{quote.text}}&lt;/blockquote&gt;
		          &lt;h4&gt;&lt;a href=&quot;&quot; class=&quot;author-link&quot; data-ng-click=&quot;changeFilter(quote.id)&quot;&gt;{{quote.author}}&lt;/a&gt;&lt;/h4&gt;
		          &lt;rating value=&quot;quote.rating&quot; max=&quot;max&quot; readonly=&quot;true&quot; class=&quot;rating&quot;&gt;
		        &lt;/div&gt;
		      &lt;/div&gt;
		    &lt;/div&gt;
		    &lt;!-- End display quotes --&gt;
		  &lt;/div&gt;

		&lt;!-- MODAL FOR ADDING QUOTES --&gt;
		  &lt;div class=&quot;modal fade&quot; role=&quot;dialog&quot; id=&quot;quote&quot; &gt; 
		    &lt;div class=&quot;modal-dialog&quot;&gt;
		      &lt;!-- Modal Content --&gt;
		      &lt;div class=&quot;modal-content&quot;&gt;
		        &lt;!-- HEAD --&gt;
		        &lt;div class=&quot;modal-header&quot;&gt;
		          &lt;span&gt;What is the quote?&lt;/span&gt;
		        &lt;/div&gt;
		        &lt;!-- End modal head --&gt;
		        &lt;!-- BODY --&gt;
		        &lt;div class=&quot;modal-body&quot;&gt;
		          &lt;form action=&quot;&quot; class=&quot;form-horizontal&quot;&gt;
		          &lt;!-- Quote text --&gt;
		            &lt;div class=&quot;form-group&quot;&gt;
		              &lt;label for=&quot;quote-text&quot; class=&quot;col-lg-2 control-label&quot;&gt;Quote:&lt;/label&gt;
		              &lt;div class=&quot;col-lg-10&quot;&gt;
		                &lt;textarea type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;quote-text&quot; placeholder=&quot;What we do in life echos in eternity.&quot; data-ng-model=&quot;newQuote.text&quot;&gt;&lt;/textarea&gt;
		              &lt;/div&gt;
		            &lt;/div&gt;
		            &lt;!-- End Quote --&gt;
		            &lt;!-- Author --&gt;
		            &lt;div class=&quot;form-group&quot;&gt;
		              &lt;label for=&quot;quote-author&quot; class=&quot;col-lg-2 control-label&quot;&gt;Author: &lt;/label&gt;
		              &lt;div class=&quot;col-lg-10&quot;&gt;
		                &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;quote-author&quot; placeholder=&quot;Maximus Decimus Maridius&quot; data-ng-model=&quot;newQuote.author&quot;&gt;
		              &lt;/div&gt;
		            &lt;/div&gt;
		            &lt;!-- Rating --&gt;
		            &lt;div class=&quot;form-group&quot;&gt;
		              &lt;rating value=&quot;newQuote.rating&quot; max=&quot;max&quot; readonly=&quot;isReadonly&quot; on-hover=&quot;hoveringOver(value)&quot; on-leave=&quot;overStar = null&quot; class=&quot;col-xs-6&quot;&gt;&lt;/rating&gt;
		            &lt;/div&gt;
		            &lt;!-- End Author --&gt;
		          &lt;/form&gt;
		        &lt;/div&gt;
		        &lt;!-- End Modal Body --&gt;
		        &lt;!-- FOOTER --&gt;
		        &lt;div class=&quot;modal-footer&quot;&gt;
		          &lt;button class=&quot;btn btn-default&quot; data-dismiss=&quot;modal&quot;&gt;Cancel&lt;/button&gt;
		          &lt;button class=&quot;btn btn-success&quot; type=&quot;submit&quot; data-dismiss=&quot;modal&quot; data-ng-click=&quot;addQuote(newQuote)&quot;&gt;Submit&lt;/button&gt;
		        &lt;/div&gt;
		      &lt;/div&gt;
		      &lt;!-- End Modal content --&gt;
		    &lt;/div&gt;
		  &lt;/div&gt;
		&lt;!-- END MODAL --&gt;

		&lt;!-- Random Quote Modal --&gt;
		  &lt;div class=&quot;modal fade&quot; role=&quot;dialog&quot; id=&quot;random-quote&quot; &gt; 
		    &lt;div class=&quot;modal-dialog&quot;&gt;
		      &lt;!-- Modal Content --&gt;
		      &lt;div class=&quot;modal-content&quot;&gt;
		        &lt;!-- HEAD --&gt;
		        &lt;div class=&quot;modal-header&quot;&gt;
		          &lt;span&gt;Random Quote:&lt;/span&gt;
		        &lt;/div&gt;
		        &lt;!-- End modal head --&gt;
		        &lt;!-- BODY --&gt;
		        &lt;div class=&quot;modal-body&quot;&gt;
		          &lt;div data-ng-repeat=&quot;quote in randomQuote&quot;&gt;
		            &lt;blockquote&gt;{{quote.text}}&lt;/blockquote&gt;
		            &lt;h4&gt;&lt;a href=&quot;&quot; class=&quot;author-link&quot; data-ng-click=&quot;changeFilter(quote.id)&quot;&gt;{{quote.author}}&lt;/a&gt;&lt;/h4&gt;
		            &lt;rating value=&quot;quote.rating&quot; max=&quot;max&quot; readonly=&quot;true&quot; class=&quot;rating&quot;&gt;
		          &lt;/div&gt;
		        &lt;/div&gt;
		        &lt;!-- End Modal Body --&gt;
		        &lt;!-- FOOTER --&gt;
		        &lt;div class=&quot;modal-footer&quot;&gt;
		          &lt;button class=&quot;btn btn-default&quot; data-dismiss=&quot;modal&quot;&gt;Cancel&lt;/button&gt;
		        &lt;/div&gt;
		      &lt;/div&gt;
		      &lt;!-- End Modal content --&gt;
		    &lt;/div&gt;
		  &lt;/div&gt;
		&lt;!-- End random quote modal --&gt;
	</code>
</pre>
<script>
	Prism.highlightAll();
</script>